# Directories
project/Code Composer Studio/.jxbrowser-data/
project/Code Composer Studio/.metadata/
project/Code Composer Studio/Development Kit/Build/
project/Code Composer Studio/dvt
project/Code Composer Studio/RemoteSystemsTempFiles/
project/unit_test/build/
